@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');
:root {
  --darkColour: #222;
  --lightColour: #fffcf2;
  --accentColour: #b3c9dd;
}

/*********************** General Styles ***********************/
body, * {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: var(--darkColour);
  color: var(--lightColour);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: auto;
  background-color: var(--lightColour);
  background-color:var(--darkColour);
  width: 100%;
}

section {
  margin-bottom: 70px;
}


/*********************** Hero Section ***********************/
.hero-section {
  position: relative;
  margin-bottom: 0;
}

.hero-img {
  width: 100%;
}

.article-title-credits-container {
  background-color: var(--darkColour);
  padding: 40px 20px 40px 20px;
  position: absolute;
  bottom: 0px;
  left: 15%;
  transition: all 0.3s ease;
  width: 70%;
}

.article-title {
  font-size: 2.2rem;
  font-weight: 400;
  padding: 10px;
  text-align: left;
}

.article-credits {
  display: flex;
  align-items: center;
  padding: 10px;
}

.article-credits p {
  font-size: 0.8rem;
  margin-left: 10px;
}

.article-credits .article-author {
  margin-left: 0;
}

.article-section {
  border-left: 1px solid var(--accentColour);
  padding-left: 6px;
}

.article-section a {
  color: var(--accentColour);
}


/********************** Article Section **********************/
.article-content-section {
  width: 70%;
  padding: 30px;
  margin: auto;
  text-align: left;
  color: var(--lightColour);
  line-height: 1.3;
  transition: all 0.3s ease;
}

.article-summary {
  margin: 20px 0;
  padding: 20px 0;
  font-style: italic;
  border-bottom: 3px solid rgb(85, 78, 79);
  border-top: 3px solid rgb(85, 78, 79);
}

.article-content-section p {
  margin-bottom: 20px;
}

/*Summary graph*/
.summary-graph-img {
  width: 70%;
  margin: auto;
  text-align: center;
}

/********************** City Search Box **********************/
.city-menu {
  position: relative;
  margin: auto;
  width: 300px; 
}

.city-menu-instructions {
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-align: left;
  opacity: 0.7;
  line-height: 1.2;
}

.city-input {
  background-color: var(--lightColour);
  background-image: url('./search.svg'); /* Add a search icon to input */
  background-position: 95% 7px; /* Position the search icon */
  background-repeat: no-repeat; 
  background-size: 30px;
  border: 4px solid var(--lightColour); 
  color: var(--darkColour);
  font-size: 16px; 
  margin-bottom: 2px; 
  padding: 15px 12px; 
  outline: none;
  width: 100%;
}

.city-input:active, .city-input:focus {
  border: 3px solid var(--accentColour); 
}

.city-list {
  list-style-type: none;
  margin: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  width: 100%; 
  z-index: 10;
}

.city-list li {
  background-color: var(--lightColour); 
  border: 1px solid #ddd; 
  color: var(--darkColour); 
  cursor: pointer;
  font-size: 16px; 
  margin-top: -1px; 
  padding: 12px; 
}

.city-list li:hover:not(.header) {
  background-color: #eee; 
}


/******************* Particles for PM2.5 Viz *******************/
.particles-wrapper {
  position: relative;
  margin: auto;
  width: 100%;
}

.canvas-particles {
  /* background: var(--accentColour); */
  border-radius: 25%;
  /* border: 3px solid rgb(90, 45, 45); */
  box-shadow: 0px 0px 20px var(--lightColour);
}

.num-particles-container {
  background-color: var(--accentColour);
  background-color: var(--lightColour);
  border: 1px dotted var(--darkColour);
  border-radius: 100%;
  padding: 0px;
  position: absolute;
  top: 65px;
  left: calc(50% - 35px);
  height: 0px;
  width: 0px;
}
.num-particles-container h3 {
  color: var(--darkColour);
  font-size: 28px;
  margin: auto;
}
.num-particles-container small {
  color: #444;
  font-size: 10px;
  margin: auto;
}


/******************* Media Queries *******************/
@media (max-width: 1200px) {
  .article-title-credits-container {
    left: 10%;
    width: 80%;
    padding: 20px 20px 30px;
  }
  .article-content-section {
    width: 80%;
    padding: 30px;
  }
}

@media (max-width: 1100px) {
  .article-title-credits-container {
    left: 5%;
    width: 90%;
    padding: 20px 20px 30px;
  }
  .article-title {
    font-size: 1.8rem;
  }
  .article-content-section {
    width: 90%;
  }
}

@media (max-width: 950px) {
  .article-title-credits-container {
    position: relative;
    left: 0;
    width: 100%;
    margin: auto;
  }
  .article-title {
    padding: 0px;
    font-size: 1.6rem;
  }
  .article-credits {
    padding: 0;
    margin-top: 20px;
  }
  .article-content-section {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .article-content-section {
    width: 100%;
    padding-top: 10px;
  }
}
